* {
  margin: 0;
  padding: 0;
}
header {
  min-height: 100vh;
  background-image: url("../images/leafhead.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
h1, h3 {
  color: white;
  text-align: center;
}
